*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    height: 70%;
    width: 90%;
    gap: 0.5rem;
}

.slide{
    height: 80%;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: .5rem;
    position: relative;
    transition: all 300ms linear;
}

.slide h2{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #fff;
    transition: all 300ms linear;
    opacity: 0;
}

.slide.active{
    flex: 10;
}

.slide.active h2{
    opacity: 1;
}